body {
  background-color: #d9e9f1;
  font-family: 'Inter', sans-serif;
}

#containerSection {
  background-color: #d9e9f1;
}

.dropdownBtn {
  border: 1px solid #0a89b8;
  color: #0a89b8;
  background-color: white;
}
.dropdownBtn:hover {
  background-color: #0a89b8;
  color: white;
}


.form-check-label{
  font-size: 15px;
}